precalculated_data/ filter=lfs diff=lfs merge=lfs -text
precalculated_data/distance_matrix_out.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/distance_matrix_in.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/distance_matrix_all.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/extracellular_mets.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/full_metabolite_database.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/generank_permanent_objects.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/metabolon_lookup_table.xlsx filter=lfs diff=lfs merge=lfs -text
precalculated_data/noppi_met_undir_ins.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/omnipathdb_source_list.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/README.txt filter=lfs diff=lfs merge=lfs -text
precalculated_data/recon_to_generic_reactions_lookup.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/recon_reactions.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/in_distances_noppi_met_undir.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/ppi_tf_edges.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/cytoplasm_mets.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/omnipath_webservice_interactions__recent.tsv filter=lfs diff=lfs merge=lfs -text
precalculated_data/parsed_recon_objects.RData filter=lfs diff=lfs merge=lfs -text
precalculated_data/recon_edges.rds filter=lfs diff=lfs merge=lfs -text
precalculated_data/recon_id_name_lookup.xlsx filter=lfs diff=lfs merge=lfs -text
precalculated_data/recon_reactions_rescored.csv filter=lfs diff=lfs merge=lfs -text
precalculated_data/app_lookup.feather filter=lfs diff=lfs merge=lfs -text
